@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font_Roboto-Black {
  font-family: "Roboto-Black", sans-serif;
}
.font_Roboto-Bold {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.font_Roboto-Italic {
  font-family: "Roboto-Italic", sans-serif;
}
.font_Roboto-Light {
  font-family: "Roboto-Light", sans-serif;
}
.font_Roboto-Medium {
  font-family: "Roboto-Medium", sans-serif;
}
.font_Roboto-Regular {
  font-family: "Roboto-Regular", sans-serif;
}
.font_Roboto-Thin {
  font-family: "Roboto-Thin", sans-serif;
}
